<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerspell Result</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Fingerspell Result</h1>
        <div class="result-images">
            {% for word in inputString %}
            <p>{{ word }}:
                {% for char in word %}
                <img src="{{ url_for('static', filename='images/' + language + '/' + char + '.jpeg') }}" alt="{{ char }}" width=60 height=60>
                {% endfor %}
            </p>
            {% endfor %}
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>